# This file is a minimal version of the default config file.
# This is NOT supposed to be enough for a fully running server.
# Please read the fivem documentation:
#   https://docs.fivem.net/docs/server-manual/server-commands/
#   https://docs.fivem.net/docs/server-manual/setting-up-a-server/

## You CAN edit the following:
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
sv_maxclients 20
set steam_webApiKey "none"
sets tags "private, VMenu"

## You MAY edit the following:
sv_licenseKey "cfxk_JzoiGqF0oHtH3V4ct7ic_17xLh2"
sv_hostname "SouthernRP"
sets sv_projectName "SouthwestRP"
sets sv_projectDesc "SouthWestRP Is A Whitelisted Server In Development"
sets locale "root-GB" 

## These resources will start by default.
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure basic-gamemode
ensure hardcap

exec permissions.cfg
ensure [SWRP-FrameWork]
ensure [YMaps]
ensure [Scripts]
ensure [Custom Cars]

## Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.fivem:3963662 group.admin #_Demonchrisey

exec easyadmin_permissions.cfg
